---
import RootLayout from '@layouts/root-layout.astro'
import Button from '@components/button'
---

<RootLayout>
	<img src="https://i.pravatar.cc/150?img=3" alt="img">
	<Button as="a">Página web</Button>
</RootLayout>
