---
import { Portfolio } from "@/types";
import { PortableText } from "astro-portabletext";
import Container from "./ui/container.astro";
import Section from "./ui/section.astro";

type Props = {
  data: Portfolio["about"];
};

const { data } = Astro.props;
---

<Section id='about' heading={data?.title}>
  <Container class='flex flex-col gap-10'>
    <div class='py-4 text-left flex flex-col gap-2'>
      {data?.description && <PortableText value={data.description} />}
    </div>
  </Container>
</Section>
