<section id='experience' class='w-full py-12 md:py-24 lg:py-32'>
  <div class='container px-4 md:px-6 mx-auto'>
    <div class='flex flex-col items-center justify-center space-y-4 text-center'>
      <div class='space-y-2'>
        <h2 class='text-3xl font-bold tracking-tighter sm:text-5xl'>Experienca</h2>
        <p
          class='max-w-[900px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed'
        >
        </p>
      </div>
    </div>
    <div class='mx-auto grid max-w-5xl items-start gap-8 py-12 lg:grid-cols-2 lg:gap-12'>
      <div class='rounded-lg border bg-card text-card-foreground shadow-sm' data-v0-t='card'>
        <div class='flex flex-col space-y-1.5 p-6'>
          <h3 class='text-2xl font-semibold whitespace-nowrap leading-none tracking-tight'>
            Diseñadora UX UI
          </h3>
          <p class='text-sm text-muted-foreground'>Freelance, Ene 2023 - Actualidad</p>
        </div>
        <div class='p-6'>
          <p class='text-gray-500'>
            Diseñé una homepage basada en plantillas de Wordpress, rediseñé la marca de una tienda
            de ropa para bebés y creé mi propia marca personal. También rediseñé una aplicación web
            para buscar eventos de música electrónica en Buenos Aires, mejorando mis habilidades en
            diseño web y gráfico. Actualmente, estoy diseñando una tienda en línea con productos
            bajo demanda y estoy emocionada por ver cómo se evolucionará.
          </p>
        </div>
      </div>
      <div class='rounded-lg border bg-card text-card-foreground shadow-sm' data-v0-t='card'>
        <div class='flex flex-col space-y-1.5 p-6'>
          <h3 class='text-2xl font-semibold whitespace-nowrap leading-none tracking-tight'>
            Diseñadora UX UI
          </h3>
          <p class='text-sm text-muted-foreground'>Rediseño de página web, Nov 2022</p>
        </div>
        <div class='p-6'>
          <p class='text-gray-500'>
            Diseñé la experiencia de usuario de la página web UX en Español, con el objetivo de
            crear un sitio coherente e intuitivo para el usuario. Realicé propuestas de diseño,
            decisiones basadas en investigaciones, diseñé interfaz de usuario, páginas de destino,
            wireframes y trabajé en conjunto con el equipo de desarrollo.
          </p>
        </div>
      </div>
      <div class='rounded-lg border bg-card text-card-foreground shadow-sm' data-v0-t='card'>
        <div class='flex flex-col space-y-1.5 p-6'>
          <h3 class='text-2xl font-semibold whitespace-nowrap leading-none tracking-tight'>
            Diseñadora / Maquetadora UX UI
          </h3>
          <p class='text-sm text-muted-foreground'>Maquetación de página web con Wix, Oct 2022</p>
        </div>
        <div class='p-6'>
          <p class='text-gray-500'>
            Mi experiencia liderando la creación de una landing page responsiva mejoró mis
            habilidades en diseño, colaborando con el equipo para definir el enfoque de la marca y
            la organización de la información, y brindando una experiencia de usuario óptima.
          </p>
        </div>
      </div>
      <div class='rounded-lg border bg-card text-card-foreground shadow-sm' data-v0-t='card'>
        <div class='flex flex-col space-y-1.5 p-6'>
          <h3 class='text-2xl font-semibold whitespace-nowrap leading-none tracking-tight'>
            Diseñadora
          </h3>
          <p class='text-sm text-muted-foreground'>Voluntariado en conferencia UX, Jul 2022</p>
        </div>
        <div class='p-6'>
          <p class='text-gray-500'>
            Como voluntaria en la Conferencia de UX en Español, fui Product Owner del metaverso,
            diseñando un espacio innovador para mejorar la experiencia de los asistentes. También
            ayudé en la creación de la colección de NFT's y publicaciones en redes sociales, y
            brindé soporte durante el evento de dos días.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
