---
import '@fontsource/poppins';

const { className } = Astro.props;
---
<style>
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="p-4 sm:p-2 flex justify-center items-center m-auto h-screen w-screen w-[100dvh] bg-gradient-to-b from-[#4D60FF] to-[#FB4DFF]">
    <main class=`w-full max-w-[456px] ${className}`>
        <slot />
    </main>
  </body>
</html>