---

---
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="p-4 sm:p-2 flex justify-center items-center m-auto h-screen w-screen bg-gradient-to-b from-[#4D60FF] to-[#FB4DFF]">
    <main class="w-full max-w-lg flex justify-center items-center flex-col gap-4 text-white">
        <slot />
    </main>
  </body>
</html>