---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;

const { class: className, ...attrs } = Astro.props;
---

<div {...attrs} class={cn("container mx-auto lg:max-w-5xl", className)}>
  <slot />
</div>
