---
import StrongText from "@repo/ui/src/strong-text.astro";
import { PortableText } from "astro-portabletext";

type Props = {
  title: string | any[];
  description?: string | any[];
};

const { title, description } = Astro.props;
---

{
  typeof title === "string" ? (
    <h2 class='text-4xl font-semibold dark:text-white'>{title}</h2>
  ) : (
    <PortableText
      class='text-4xl font-semibold dark:text-white'
      value={title}
      components={{
        mark: {
          strong: StrongText,
        },
      }}
    />
  )
}
{
  description && (
    <>
      {typeof description === "string" ? (
        <p class='mb-4 text-lg font-normal text-gray-500 dark:text-gray-400'>{description}</p>
      ) : (
        <PortableText
          class='mb-4 text-lg font-normal text-gray-500 dark:text-gray-400'
          value={description}
        />
      )}
    </>
  )
}
